repos:
    -   repo: https://github.com/commitizen-tools/commitizen
        rev: 3.6.0
        hooks:
            -   id: commitizen
            -   id: commitizen-branch
                stages: [ push ]
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.4.0
        hooks:
            -   id: check-yaml
            -   id: end-of-file-fixer
            -   id: trailing-whitespace
    -   repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.0.284
        hooks:
            -   id: ruff
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.4.0
        hooks:
            -   id: no-commit-to-branch
                args:
                    - --branch=main
    -   repo: local
        hooks:
            - id: test
              name: test
              entry: task tests
              language: system
              types:
                  - python
              pass_filenames: false
